.questions_wrapper{
    max-width: 1400px;
    min-height: 100vh;
    margin-left: 280px;
    width: calc(100vw - 300px);
    z-index: 0;
    display: flex;
    flex-direction: row;
}
.section_wrapper{
    flex-grow: 1;
    width: calc(100% - 28vw);
    overflow: hidden;
}
.rec_wrapper{
    max-width: 450px;
    width: 28vw;
    padding: 2rem 4rem 0 0;
}

@media screen and (max-width: 768px) {
    .questions_wrapper{
        margin-left: 0;
        width: 100vw;
        flex-direction: column;
    }
    .rec_wrapper{
        max-width: 380px;
        width: 100%;
        padding: 0 1rem!important;
    }
}

@media screen and (max-width: 1324px) {
    .questions_wrapper{
        flex-direction: column;
    }
    .section_wrapper{
        width: 100%;
    }
    .rec_wrapper{
        max-width: 380px;
        width: 100%;
        padding: 0 2rem;
    }
    
}