.card{
    margin: 1rem 2rem;
    overflow: hidden;
    border-bottom: 1px solid #858585;
}
.card .card_title{
    font-weight: 400;
    color: #F48024;
    text-decoration: none;
    font-size: 18px;
}
.card_desc{
    font-size: 14px;
    margin: 6px auto;
    text-wrap: wrap;
    line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}
.card_desc *{
    display: none;
}
.card_desc p{
    display: block;
    width: 100%!important;
    white-space: normal; 
}

.card_tags{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin: 12px auto;
}

.card_footer{
    display: flex;
    padding: 1rem 0.5rem;
    align-items: center;
    justify-content: space-between;
}
.footer_name{
    display: flex;
    align-items: center;
    gap: 8px;
    text-wrap:nowrap;
    font-size: 14px;
}
.profile_pic{
    border-radius: 100%;
    width: 28px;
}

.footer_desc{
    display: flex;
    gap: 1rem;
    font-size: 10px;
    color: #848484;
}