.btn{
    background-color: #F48024;
    color: #fff;
    /* padding: 6px 12px; */
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    width: fit-content;
    border-radius: 8px;
    font-size: 18px;
}
.btn_left,.btn_right{
    padding: 6px 6px 2px;
}
.btn_text{
    padding: 6px 12px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

@media screen and (max-width: 600px) {
    .btn{
        font-size: 14px;
    }
    .btn_left,.btn_right{
        padding: 4px 4px 2px;
    }
    .btn_text{
        padding: 4px 8px;
    }
}