.questions_wrapper{
    min-height: 100vh;
    margin-left: auto;
    width: calc(100vw - 290px);
    z-index: 0;
    display: flex;
    flex-direction: row;
}
.section_wrapper{
    flex-grow: 1;
    width: calc(100% - 28vw);
    overflow: hidden;
}
.rec_wrapper{
    max-width: 450px;
    width: 28vw;
    padding: 2rem 4rem 0 0;
}

@media screen and (max-width: 768px) {
    .questions_wrapper{
        margin-left: 0;
        width: 100vw;
    }
    .rec_wrapper{
        display: none;
    }
}

@media screen and (max-width: 1324px) {
    .section_wrapper{
        width: 100%;
    }
    .rec_wrapper{
        display: none;
    }
}